*.Rproj*
.Rhistory
.Rdata
.RData
.Ruserdata
/*.Rcheck/
*-Ex.R
*_cache/
/cache/
.Renviron
*.knit.md
*.utf8.md
.httr-oauth
.DS_Store
*.html
inst/doc
docs
docs/*
/*.tar.gz
.Rproj.user
.Rapp.history
vignettes/*.pdf
vignettes/*.html
